{% extends 'base.html.twig' %}

{% block title %}
	Hello MainController!
{% endblock %}

{% block body %}
	<div
		class="container w-25 bg-secondary text-light p-5 h-30 mt-5 mb-5 card">
		<h2>
			Создание нового треда
		</h2>
		<form

			id="threadform"
			onsubmit="return false;">
			<div
				class="mb-3">
				<label
					for="content"
					class="form-label">
					Content
				</label>
				<input
					type="text"
					name="content"
					class="form-control"
					id="content"
					aria-describedby="content">
			</div>
			<div
				class="mb-3">
				<label
					for="username"
					class="form-label">
					Username
				</label>
				<input
					type="text"
					class="form-control"
					id="username"
					name="username">
			</div>
			<button
				type="submit"
				class="btn btn-primary"
				value="submitthread">
				Submit
			</button>
		</form>
	</div>
	<div
		id="thread-list"></div>
	<div
		class="container nav-threads py-5 d-flex justify-content-between"
		style="width: 30%;">
		{% if page-1 != 0 %}
			<a
				href="/?page={{page-1}}"
				class="btn btn-secondary">
				previos
			</a>
		{% endif %}
		{% if threads != [] %}
			<a
				href="/?page={{page+1}}"
				class="btn btn-secondary">
				next
			</a>
		{% endif %}
	</div>

{% endblock %}
